<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SSO client1</title>
    <link rel="stylesheet" th:href="@{/webjars/materializecss/0.99.0/css/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}"/>
</head>
<body>
<h1>SSO taobao Client1</h1>
<a href="http://sso-tmall:10082/client2/index.html">访问Client2</a>
<a href="http://www.baidu.com">百度</a>
<a  href="#" onclick="logout()">退出</a>
</body>

<script type="text/javascript" src="/client1/webjars/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/client1/webjars/jquery-cookie/1.4.1/jquery.cookie.js" th:src="@{/webjars/jquery-cookie/1.4.1/jquery.cookie.js}"></script>
<!--<script type="text/javascript" src="/client1/webjars/jquery-cookie/1.4.1/webjars-requirejs.js" th:src="@{/webjars/jquery-cookie/1.4.1/webjars-requirejs.js}"></script>-->
<script type="text/javascript" th:src="@{/webjars/materializecss/0.99.0/js/materialize.min.js}"></script>
<script >
    $(function(){
       //loadToken();
    });


    function loadToken(){
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/client1/user",
            success: function(data){
                accessToken = data.details.tokenValue;
                console.log("获取token:"+accessToken);
                sessionStorage.setItem("Authorization",accessToken);
            },
            error: function(){
                console.log("获取token失败");
            }
        });
    }


    function logout(){
        $.ajax({
            url: "/client1/exit",
            type: "POST",
            dataType: "json",
            success: function(data){
                console.log("data:"+JSON.stringify(data));

                //$.removeCookie('JSESSIONID',{path:'/client1'});
                //$.cookie("JSESSIONID",'',{expires:-1,path:'/client1'})
                //window.location.href = "/client1/index.html";
            },
            error: function(){
                console.log("注销失败");
            }
        })
    }

</script>

</html>
