<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSO client1</title>
    <link rel="stylesheet" th:href="@{/webjars/materializecss/0.99.0/css/materialize.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/material-design-icons/3.0.1/material-icons.css}"/>
</head>
<body>
<h1>SSO tmall Client1</h1>
<a href="http://sso-taobao:8084/client2/index.html">访问Client2</a>

<a href="#" onclick="">退出</a>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/materializecss/0.99.0/js/materialize.min.js}"></script>
</html>
